$def with (listings)
<!doctype html>
<html lang=en>
<head>
<meta charset=utf8>
<title>Burning Man 2012 Scalpers</title>
<style>
body {
    font: 14px arial, helvetica, sans-serif
	}
h1 {
    font-size: 150%
	}
table {
    border-collapse: collapse;
	}
td, th {
    border: 1px solid black;
    padding: 2, 2, 2, 2;
    }
</style>
</head>
<body>

<h1>Burning Man 2012 Scalper Listings</h1>

<p>This is an automatically updated list of burning man 2012 tickets being
resold & scalped on the web. <a href="/about">Learn more.</a></p>

<table>
<tr>
    <th>Tickets</th>
    <th>Price</th>
    <th>Title</th>
    <th>Website</th>
    <th>Listed on</th>
    <th>Still up as of</th>
</tr>
$for listing in listings:
    <tr>
        <td>$listing.num_tickets</td>
        <td>$listing.price</td>
        <td><a href="$listing.url">$listing.title</a></td>
        <td>$listing.spider</td>
        <td>$listing.first_seen</td>
        <td>$listing.last_seen</td>
    </tr>
<table>
</body>
</html>
