
<!doctype html>
<html lang=en>
<head>
<meta charset=utf8>
<title>BumScrape - Burning Man 2012 Ticket Scalping Tracker - Updates</title>
<link rel=stylesheet href="bumscrape.css">
</head>
<body>

<img src="tp.png" alt="inspirational logo" id=logo>
<h1>News and Updates</h1>

<h2>Feb 8, 2012</h2>

<p>
I've added a spider for the ticket-selling website <a href="http://ticketsmore.com">ticketsmore</a>.
This is kind of a shady site, and all of their data is actually coming from <a href="http://tickettransaction.com">tickettransaction.com</a>.
If you hit that url, you're taken to some sort of login form without any identifying details.
I think we've stumbled upon the lair of the professional scalper!
</p>

<p>
My opinion of this was further re-enforced when I googled around and found <a href="http://www.ticketliquidator.com/tix/burning-man-tickets.aspx">ticket liquidator</a>.
As you can see, their listings look almost identical to the listings we're already scraping from ticketsnow, except with different prices.
This site is also backed by tickettransaction.com.
</p>

<p>
Given that the JS request which retrieves ticket data contains a site ID
More googling also revealed <a href="http://superbticketsonline.com/1795197/Burning-Man-2012">superb tickets</a>, <a href="http://www.ticketsnow.com/InventoryBrowse/Burning-Man-Tickets-at-Black-Rock-City-in-Gerlach-8-27-2012?PID=1226275">ticketsnow</a>, <a href="http://www.ticketnest.com/concert-tickets/Burning-Man/Burning-Man-Gerlach/8-27-1795197">ticketnest.com</a>, <a href="http://www.vividseats.com/concerts/burning-man-tickets/burning-man-black-rock-city-8-27-1237313.html">vivid seats</a>, and <a href="http://www.excite.com/events/ResultsTicket.php?evtid=1795197">excite.com</a>.
All of these sites seem to be selling the same tickets!
</p>

<p>
BTW, seatgeek has <a href="http://seatgeek.com/blog/concerts/burning-man-festival-2012">some analysis of the 2012 lottery</a>, although sometimes they appear to be talking about 2011.
</p>

<p>--Igor</p>

<h2>Feb 7, 2012</h2>

<p>
We have working scrapers for ebay, craigslist and stubhub.
We're working on cleaning up the UI before 'launch'.
Launch means posting a link on eplaya.
</p>


<h2>Feb 3, 2012</h2>

<p>
Welcome to bumscraper!
We're going to write some scripts to keep an eye on the scalpers and the scalping market, and make the data available publically.
<a href="/about">Learn more here</a>.
Lets get coding!
</p>

<p>-- Igor and Jered</p>

</body>
</html>
