<VirtualHost 65.60.60.72:80>
    ServerName bumscrape.moomers.org
    ServerAdmin igor47@moomers.org

    DocumentRoot "/var/www/bumscrape/website"
    <Directory "/var/www/bumscrape/bumscrape/website">
        Options +FollowSymLinks +ExecCGI
        AllowOverride None

        RewriteEngine on
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ /bumscrape.py/$1 [L]
    </Directory>

    WSGIScriptAlias /bumscrape.py /var/www/bumscrape/website/bumscrape.py
</VirtualHost>

