body {
    font: 16px arial, helvetica;
    margin: 15px;
}
a {
    color: #12c;
}
a:active {
    color: #dd4b39;
}
a:visited {
    color: #61c;
}
p {
    line-height: 1.4
}
h1 {
    font-size: 150%
}
h2 {
    font-size: 120%
}
table {
    border-collapse: collapse;
    clear: both;
}
th {
    background: #c9cf31;
    text-align: center;
}
td {
    background: #e1e0b2;
}
td, th {
    border: 1px solid #333;
    padding: 2px 8px 2px 8px;
}
.formats {
    font-size: 80%;
    margin-bottom: 4px;
    color: #666
}
.count {
    text-align: center 
}
.price {
    text-align: right
}
#logo {
    margin-right: 15px;
    margin-bottom: 10px;
    float: left;
    height: 100px;
}
code.box {
    display: block;
    border: 1px solid black;
    width: 600px;
    background: #ccc;
    padding: 10px;
    margin: 8px;
}
